extends ../index.pug


block content

    section.hero.is-dark.is-bold.is-medium
        .hero-body
            .container
                h1.title.is-1= staticContent.title
                h2.subtitle.is-3= staticContent.subtitle

    .container(style={"padding": "20px"})
        p.control.has-icon.has-icon-right
            input.input.is-large(
                type="text"
                placeholder= staticContent.filterPlaceholder
                v-model="filterQuery"
                v-on:input="onFilterQueryInput($event.target.value)"
                )
            span.icon.is-medium
                i.fa.fa-search

        p.control.has-addons
            sort-button( label="First Name" value="firstName" )
            sort-button( label="Last Name" value="lastName" )
            sort-button( label="Title" value="title" )

        hr

        ul
            developer-tile( v-for="dev in displayedDevelopers"
                            v-bind:developer="dev" )

    script(type="text/x-template" id="developerTileTemplate")
        include views/developer-tile.pug

    script(type="text/x-template" id="sortButtonTemplate")
        include views/sort-button.pug


block scripts
    script(type="text/javascript").

        var pugData = !{data};

        Vue.component('developerTile', {

            template: '#developerTileTemplate',

            props: ['developer'],

            computed: {

                fullName: function(){
                    return this.developer.firstName + ' ' + this.developer.lastName;
                }

            }

        });

        Vue.component('sortButton', {

            template: '#sortButtonTemplate',

            props: ['label', 'value'],

            computed: {

                sortOptions: function(){

                    return this.$store.state.sortOptions;

                },

                iconClasses: function(){

                    if(this.sortOptions.value == this.value) {
                        return (this.sortOptions.ascending) ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'
                    } else {
                        return '';
                    }

                }

            },

            methods: {

                sortBy: function() {

                    this.$store.dispatch('updateSort', this.value);

                }

            }

        })

        Vue.use(Vuex);

        var store = new Vuex.Store({

            state: {

                developers: pugData.developers,

                filterQuery: pugData.filterQuery,

                sortOptions: {
                    value: 'firstName',
                    ascending: true
                }

            },

            mutations: {

                setFilterQuery: function(state, newFilterQuery) {

                    state.filterQuery = newFilterQuery;

                },

                setSortOptionsValue: function(state, sortValue) {

                    if (state.sortOptions.value == sortValue) {
                        state.sortOptions.ascending = !state.sortOptions.ascending;
                    } else {
                        state.sortOptions = {
                            value: sortValue,
                            ascending: true
                        }
                    }

                }

            },

            actions: {

                updateFilterQuery: function(context, newFilterQuery) {

                    context.commit("setFilterQuery", newFilterQuery);

                },

                updateSort: function(context, sortValue) {

                    context.commit('setSortOptionsValue', sortValue);

                }

            }

        });

        var vm = new Vue({

            el: '#app',

            store: store,

            computed: {

                developers: function(){

                    return this.$store.state.developers;

                },

                filterQuery: function(){

                    return this.$store.state.filterQuery;

                },

                sortOptions: function(){

                    return this.$store.state.sortOptions;

                },

                displayedDevelopers: function() {

                    var developers = this.developers;

                    var filteredDevelopers =
                        developers.filter(this.filterDevelopers);

                    var filteredAndSortedDevelopers =
                        filteredDevelopers.sort(this.sortDevelopers);

                    return filteredAndSortedDevelopers;

                }

            },

            methods: {

                filterDevelopers: function(developer) {

                    var lowercaseName = this.getFullName(developer).toLowerCase();
                    var lowercaseQuery = this.filterQuery.toLowerCase();

                    return lowercaseName.indexOf(lowercaseQuery) > -1;

                },

                sortDevelopers: function(a, b) {

                    var LT = -1, GT = 1, EQ = 0;
                    var value = this.sortOptions.value,
                        ascending = this.sortOptions.ascending;

                    var aVal = a[value];
                    var bVal = b[value];

                    if(aVal < bVal)
                        return (ascending) ? LT : GT;
                    else if(aVal > bVal)
                        return (ascending) ? GT : LT;
                    else
                        return EQ;

                },

                onFilterQueryInput: function(filterQuery) {

                    this.updateUrl(filterQuery);

                    this.$store.dispatch('updateFilterQuery', filterQuery);

                },

                updateUrl: function(value) {

                    if(value.length == 0) {

                        window.history.replaceState({}, 'Developers', '/developers');

                    } else {

                        window.history.replaceState({}, 'Developers', '/developers?search=' + value);

                    }

                },

                getFullName: function(developer) {

                    return developer.firstName + ' ' + developer.lastName;

                }

            },

            created: function(){
                console.log('Received ' + this.developers.length + ' developers.');
            }

        });
