extends ../index.pug


block content

    section.hero.is-dark.is-bold.is-medium
        .hero-body
            .container
                h1.title.is-1= content.title
                h2.subtitle.is-3= content.subtitle

    .container(style={"padding": "20px"})
        p.control.has-icon.has-icon-right
            input.input.is-large(
                type="text"
                placeholder= content.filterPlaceholder
                v-model="filterQuery"
                v-on:input="onFilterQueryInput($event.target.value)"
                )
            span.icon.is-medium
                i.fa.fa-search

        p.control.has-addons
            sort-button( label="First Name" value="firstName" )
            sort-button( label="Last Name" value="lastName" )
            sort-button( label="Title" value="title" )

        hr

        ul
            developer-tile( v-for="dev in displayedDevelopers"
                            v-bind:developer="dev" )


block scripts

        // Server-rendered data
        script(type="text/javascript").
            var pugData = !{data};

        // Vuex Store
        script(text="text/javascript")
            include store.js
        
        // Vue Components
        include developer-tile/index.pug
        include sort-button/index.pug

        // Vue App
        script(text="text/javascript")
            include app.js
