extends ../index.pug

block content


    section.hero.is-dark.is-bold.is-medium
        .hero-body
            .container
                h1.title.is-1= content.developer.firstName + " " + content.developer.lastName
                h2.subtitle.is-3= content.developer.title

    section.hero
        .hero-body
            .container
                h3.subtitle.is-3
                    strong= "About " + content.developer.firstName
                h3.subtitle.is-4!= content.developer.bio
                ul.subtitle.is-4
                    each fact in content.developer.facts
                        br
                        li!= fact
                hr


                a.button.is-large.is-dark.is-expanded.is-outlined(href="/developers")
                    i.fa.fa-arrow-left(style={"padding-right": "10px"})
                    span= "Developers"
